
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300);


@import "variables.less";
@import "elements.less";


/*
Template Name: UBold Dashboard
Author: CoderThemes
Email: coderthemes@gmail.com
File: Core
*/

/* =============
  == Core List==

   - Common
   - Helper classes
   - Extra
   - Bootstrap Custom
   - Topbar, Leftbar and Rightbar
   - Animation (Some loader)
   - Waves effect
   - Print (Invoice css)

============= */

/* =============
   Common
============= */

body {
  background: darken(@light5,5%);
  font-family: @font-primary;
  margin: 0;
  overflow-x: hidden;
  color: #797979;
}
html {
    position: relative;
    min-height: 100%;
    background: darken(@light5,5%);
}
h1, h2, h3, h4, h5, h6 {
  color: #505458;
  font-family: @font-secondary;
  margin: 10px 0;
}

h1 {
  line-height: 43px;
}

h2 {
  line-height: 35px;
}

h3 {
  line-height: 30px;
  small {
    color: @lightdark4;
  }
}

h4 {
  line-height: 22px;
  small {
    color: @lightdark4;
  }
}

h5 {
  font-size: 15px;
  small {
    color: @lightdark4;
  }
}

p {
  line-height: 1.6;
}

* {
  outline: none !important;
}

b {
    font-weight: 600;
}

a {
  &:hover {
    outline: 0;
    text-decoration: none;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    outline: 0;
    text-decoration: none;
  }
}

.container {
  width: auto;
}

.container-alt {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Footer */
.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  bottom: 0px;
  color: #58666e;
  text-align: right !important;
  padding: 20px 30px;
  position: absolute;
  right: 0px;
  left: 0px;
  font-size: 13px;
  margin: 0px auto;
  max-width: 1170px;
}

#wrapper {
  height: @height;
  overflow: hidden;
  width: @width;
  max-width: 1170px;
  margin: 0px auto;
  background-color: @light5;
  box-shadow: -2px 3px 25px rgba(0, 0, 0, 0.07);
}

.page {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}

/* Page titles */
.page-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0px;
  margin-top: 7px;
}

.page-title-alt {
  margin-bottom: 23px;
  margin-top: 10px;
}
.page-header {
  border-bottom: 1px solid #DBDDDE;
}
.header-title {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 16px;
  margin-bottom: 8px;
}

.social-links {
  li {
    a {
      -webkit-border-radius: 50%;
      background: #EFF0F4;
      border-radius: 50%;
      color: #7A7676;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      text-align: center;
      width: 30px;
    }
  }
}


/* =============
   Helper clasess
============= */

.p-0 {
  padding: 0px !important;
}
.p-20 {
  padding: 20px !important;
}
.p-30 {
  padding: 30px !important;
}
.p-l-0 {
  padding-left: 0px !important;
}
.p-r-0 {
  padding-right: 0px !important;
}
.p-t-0 {
  padding-top: 0px !important;
}
.p-t-10 {
  padding-top: 10px !important;
}
.p-b-0 {
  padding-bottom: 0px !important;
}
.p-b-10 {
  padding-bottom: 10px !important;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.m-0 {
  margin: 0px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-r-15 {
  margin-right: 15px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-l-15 {
  margin-left: 15px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-0 {
  margin-top: 0px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-t-30 {
  margin-top: 30px !important;
}
.m-t-40 {
  margin-top: 40px !important;
}
.m-b-0 {
  margin-bottom: 0px !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-15 {
  margin-bottom: 15px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.w-xs {
  min-width: 80px;
}
.w-sm {
  min-width: 95px;
}
.w-md {
  min-width: 110px;
}
.w-lg {
  min-width: 140px;
}
.m-h-40 {
  min-height: 40px;
}
.m-h-50 {
  min-height: 50px;
}
.l-h-34 {
  line-height: 34px;
}
.font-600 {
  font-weight: 600;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: normal;
}
.font-light {
  font-weight: 300;
}
.font-13 {
  font-size: 13px !important;
}
.wrapper-md {
  padding: 20px;
}
.pull-in {
  margin-left: -15px;
  margin-right: -15px;
}
.pull-in-card {
  margin-left: -20px !important;
  margin-right: -20px !important;
}
.b-0 {
  border: none !important;
}
.vertical-middle {
  vertical-align: middle;
}
.b-r-0 {
  border-radius: 0px !important;
}
.bx-shadow {
  -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.1);
}
.mx-box {
  max-height: 380px;
  min-height: 380px;
}
.thumb-sm {
  height: 32px;
  width: 32px;
}
.thumb-md {
  height: 48px;
  width: 48px;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}

/* =============
   Extras
============= */
/* Table type box */

.table-box {
  display: table;
  height: 100%;
  width: 100%;

  .table-detail {
    display: table-cell;
    vertical-align: middle;
  }
}
/* Card Box */
.card-box{
  padding: 20px;
  border: 1px solid rgba(54, 64, 74, 0.05);
  .border-radius(5px);
  margin-bottom: 20px;
  background-color: @white;
}

/* Grid page */
.grid-structure {
  .grid-container {
    background-color: @lightdark;
    margin-bottom: 10px;
    padding: 10px 20px;
  }
}

/* Demo only */
.icon-list-demo {
  div {
    cursor: pointer;
    line-height: 45px;
    white-space: nowrap;
    color: #75798B;

    &:hover {
      color: @white;
    }

    p{
      margin-bottom: 0px;
      line-height: inherit;
    }
  }
  i {
    -webkit-transition: all 0.2s;
    display: inline-block;
    font-size: 18px;
    margin: 0;
    text-align: center;
    transition: all 0.2s;
    vertical-align: middle;
    width: 40px;
  }
  .col-md-4 {
    .border-radius(3px);
    &:hover {
      background-color: @custom;

      i {
        -o-transform: scale(2);
        -webkit-transform: scale(2);
        moz-transform: scale(2);
        transform: scale(2);
      }
    }
  }
}

//Button Demo
.button-list {
  margin-left: -8px;
  margin-bottom: -12px;
  .btn {
    margin-bottom: 12px;
    margin-left: 8px;
  }
}

/* =============
   Bootstrap-custom
============= */

.row {
  margin-right: -10px;
  margin-left: -10px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10,
.col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6,
.col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12,
.col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
.col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3,
.col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}


.breadcrumb {
  background-color: transparent;
  margin-bottom: 15px;
  padding-top: 10px;
  padding-left: 0px;
}

/* Dropdown */
.dropdown-menu {
  padding: 4px 0;
  transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  border: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  & > li {
    & > a {
      padding: 6px 20px;
    }
  }
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: @light3;
  color: @dark;
}
.dropup .dropdown-menu {
  box-shadow: 0px -1px 5px 0 rgba(0,0,0,0.26);
}

/* Close Icon */
.close {
  opacity: .6;
}

/* Background colors */
.bg-custom {
  background-color: @custom !important;
}

.bg-primary {
  background-color: @primary !important;
}

.bg-success {
  background-color: @success !important;
}

.bg-info {
  background-color: @info !important;
}

.bg-warning {
  background-color: @warning !important;
}

.bg-danger {
  background-color: @danger !important;
}

.bg-muted {
  background-color: @lightdark !important;
}

.bg-inverse {
  background-color: @inverse !important;
}

.bg-purple {
  background-color: @purple !important;
}

.bg-pink {
  background-color: @pink !important;
}

.bg-white {
  background-color: @white !important;
}

.bg-lightdark {
  background-color: @lightdark !important;
}

/* Text colors */
.text-custom {
  color: @custom;
}

.text-white {
  color: @white;
}

.text-danger {
  color: @danger;
}

.text-muted {
  color: #98a6ad;
}

.text-primary {
  color: @primary;
}

.text-warning {
  color: @warning;
}

.text-success {
  color: @success;
}

.text-info {
  color: @info;
}

.text-inverse {
  color: @inverse;
}

.text-pink {
  color: @pink;
}

.text-purple {
  color: @purple;
}

.text-dark {
  color: @lightdark7 !important;
}


/* Form components */

textarea.form-control {
  min-height: 90px;
}
.form-control {
    background-color: #FFFFFF;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
    color: #565656;
    padding: 7px 12px;
    height: 38px;
    max-width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;

  &:focus {
    background-color: #FFFFFF;
    border: 1px solid #AAAAAA;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: 0 !important;
    color: #333333;
  }
}

.input-lg {
    height: 46px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.input-sm {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
.form-horizontal {
  .form-group {
    margin-left: -10px;
    margin-right: -10px;
  }
}

.form-control-feedback {
  line-height: 38px !important;
}
.input-group-btn {
  .btn {
    padding: 8px 12px;
  }
  .btn-sm {
    padding: 5px 10px;
  }
  .btn-lg {
    padding: 10px 17px;
  }
}


/* Labels */
.label {
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: .3em .6em .3em;
}
.label-default {
  background-color: @custom;
}

.label-primary {
  background-color: @primary;
}

.label-success {
  background-color: @success;
}

.label-info {
  background-color: @info;
}

.label-warning {
  background-color: @warning;
}

.label-danger {
  background-color: @danger;
}

.label-purple {
  background-color: @purple;
}

.label-pink {
  background-color: @pink;
}

.label-inverse {
  background-color: @inverse;
}

/* Badge */
.badge {
  text-transform: uppercase;
  font-weight: 600;
  padding: 3px 5px;
  font-size: 12px;
  margin-top: 1px;
  background-color: @custom;
}

.badge-xs {
  font-size: 9px;
}

.badge-xs, .badge-sm {
  -webkit-transform: translate(0, -2px);
  -ms-transform: translate(0, -2px);
  -o-transform: translate(0, -2px);
  transform: translate(0, -2px);
}


.badge-primary {
  background-color: @primary;
}

.badge-success {
  background-color: @success;
}

.badge-info {
  background-color: @info;
}

.badge-warning {
  background-color: @warning;
}

.badge-danger {
  background-color: @danger;
}

.badge-purple {
  background-color: @purple;
}

.badge-pink {
  background-color: @pink;
}

.badge-inverse {
  background-color: @inverse;
}

/* Pagination/ Pager */

.pagination > li:first-child > a,
.pagination > li:first-child > span {
   border-bottom-left-radius: 3px;
   border-top-left-radius: 3px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
   border-bottom-right-radius: 3px;
   border-top-right-radius: 3px;
}

.pagination > li > a,
.pagination > li > span {
   color: #636e7b;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
   background-color: #e4e7ea;
}

.pagination-split li {
   margin-left: 5px;
   display: inline-block;
   float: left;
}

.pagination-split li:first-child {
   margin-left: 0;
}

.pagination-split li a {
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
   background-color: @custom;
   border-color: @custom;
}

.pager li > a, .pager li > span {
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
   border-radius: 3px;
   color: #636e7b;
}


/* Tabs */
.tabs {
  background-color: @white;
  margin: 0 auto;
  padding: 0px;
  position: relative;
  white-space: nowrap;
  width: @width;
  li.tab {
    background-color: @white;
    display: block;
    float: left;
    margin: 0;
    text-align: center;
    a {
      -moz-transition: color 0.28s ease;
      -ms-transition: color 0.28s ease;
      -o-transition: color 0.28s ease;
      -webkit-transition: color 0.28s ease;
      color: #ee6e73;
      display: block;
      height: 100%;
      text-decoration: none;
      transition: color 0.28s ease;
      width: @width;
    }
    a.active {
      color: @custom !important;
    }
  }
  .indicator {
    background-color: @custom;
    bottom: 0;
    height: 2px;
    position: absolute;
    will-change: left, right;
  }
}

.tabs-top {
  .indicator {
    top: 0;
  }
}

.nav-pills {
  li {
    a{
      line-height: 36px !important;
    }
  }
  li.active{
    a{
      background-color: @custom !important;

      &:hover {
        background-color: @custom !important;
      }
      &:focus {
        background-color: @custom !important;
      }
    }
  }
}
.nav.nav-tabs + .tab-content {
  background: @white;
  margin-bottom: 30px;
  padding: 30px;
}

.tabs-vertical-env {
  margin-bottom: 30px;
  .tab-content {
    background: @white;
    display: table-cell;
    margin-bottom: 30px;
    padding: 30px;
    vertical-align: top;
  }
  .nav.tabs-vertical {
    display: table-cell;
    min-width: 120px;
    vertical-align: top;
    width: 150px;
    li.active > a {
      background-color: @white;
      border: 0;
    }
    li > a {
      color: @lightdark3;
      text-align: center;
      white-space: nowrap;
    }
  }
}

.nav.nav-tabs > li.active > a {
  background-color: @white;
  border: 0;
}

.nav.nav-tabs > li > a,.nav.tabs-vertical > li > a {
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #505461 !important;
  cursor: pointer;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  letter-spacing: 0.03em;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Source Sans Pro", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  &:hover {
    color: @custom !important;
  }
}

.tab-content {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  color: #777777;
}

.nav.nav-tabs > li {
  &:last-of-type {
    a {
      margin-right: 0px;
    }
  }
}

.nav.nav-tabs {
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.navtab-bg {
  background-color: @lightdark;
}

.nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:hover, .nav-tabs.nav-justified > .active > a:focus, .tabs-vertical-env .nav.tabs-vertical li.active > a {
  border: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .tabs-vertical > li.active > a, .tabs-vertical > li.active > a:focus, .tabs-vertical > li.active > a:hover {
  color: @custom !important;
}

/* List group */

.list-group-item {
    border: 1px solid @light5;
}

/* Dropcap */
.dropcap {
  font-size: 3.1em;
}

.dropcap, .dropcap-circle, .dropcap-square {
  display: block;
  float: left;
  font-weight: 400;
  line-height: 36px;
  margin-right: 6px;
  text-shadow: none;
}

/* Alert */

.alert {
  .btn {
    margin-top: 10px;
  }
}
.alert-success {
  background-color: rgba(95, 190, 170, 0.3);
  border-color: rgba(95, 190, 170, 0.4);
  color: darken(@custom,10%);

  .alert-link {
    color: darken(@custom,20%);
  }
}
.alert-info {
    background-color: rgba(52, 211, 235, 0.2);
    border-color: rgba(52, 211, 235, 0.3);
    color: @info;
}
.alert-warning {
    background-color: rgba(255, 189, 74, 0.2);
    border-color: rgba(255, 189, 74, 0.3);
    color: @warning;
}
.alert-danger {
    background-color: rgba(240, 80, 80, 0.2);
    border-color: rgba(240, 80, 80, 0.3);
    color: @danger;
}

/* Modals */
.modal {
  .modal-dialog {
    .modal-content {
      -moz-box-shadow: none;
      -webkit-box-shadow: none;
      border-color: #DDDDDD;
      border-radius: 2px;
      box-shadow: none;
      padding: 25px;
      .modal-header {
        border-bottom-width: 2px;
        margin: 0;
        padding: 0;
        padding-bottom: 15px;
      }
      .modal-body {
        padding: 20px 0;
      }
      .modal-footer {
        padding: 0;
        padding-top: 15px;
      }
    }
  }
}

.modal-full {
  width: 98%;
}

.modal-content {
  .nav.nav-tabs + .tab-content {
    margin-bottom: 0px;
  }
  .panel-group {
    margin-bottom: 0px;
  }
  .panel {
    border-top: none;
  }
}

/* Custom-modal */

.modal-demo {
    background-color: #FFF;
    width: 600px;
    .border-radius(4px);
    display: none;

    .close {
      position: absolute;
      top: 15px;
      right: 25px;
      color: @light;
    }
}

.custom-modal-title {
    padding: 15px 25px 15px 25px;
    line-height: 22px;
    font-size: 18px;
    background-color: #36404a;
    color: @white;
    text-align: left;
    margin: 0px;
}
.custom-modal-text {
    padding: 20px;
}

.custombox-modal-flash ,.custombox-modal-rotatedown {
  .close {
    top: 20px;
    z-index: 9999;
  }
}


/* Tabs-Accordions */

.tabs-vertical-env {
  .tab-content {
    margin-bottom: 0px;
  }
}

.table > thead > tr > td.middle-align, .table > tbody > tr > td.middle-align,
.table > .tfood > tr > td.middle-align, .table > thead > tr > th.middle-align,
.table > tbody > tr > th.middle-align, .table > .tfood > tr > th.middle-align {
  vertical-align: middle;
}


.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    background-color: @custom;
    border-color: @custom;
}

.nav-pills > .active > a > .badge {
  color: @custom;
}

.has-success {
  .form-control {
    border-color: @success;
    box-shadow: none !important;
  }
}

.has-warning {
  .form-control {
    border-color: @warning;
    box-shadow: none !important;
  }
}

.has-error {
  .form-control {
    border-color: @danger;
    box-shadow: none !important;
  }
}

.input-group-addon {
  border-radius: 2px;
  border: 1px solid @light;
}


/* Tooltips */

.tooltip-inner {
  border-radius: 1px;
  padding: 6px 10px;
}
.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: auto!important;
  height: auto!important;
}


/* Popover */

.popover {
  font-family: inherit;
  border: none;
  .border-radius(3px);

  .popover-title {
    background-color: transparent;
    color: @custom;
    font-weight: 600;
  }
}

/* Code */
code {
    color: @primary;
    background-color: @lightdark;
    border-radius: 4px;
}

/* Pre */
pre{
  background-color: @lightdark;
  border: 1px solid #D4D8DA
}

/* Well */
.well {
  background-color: @lightdark;
  border: 1px solid #e4e4e4;
}

/* Carousel */

.carousel-control {
  width: 10%;
  span{
    position: absolute;
    top: 50%; /* pushes the icon in the middle of the height */
    z-index: 5;
    display: inline-block;
    font-size: 30px;
  }
}
/* Owl */
.slider-bg {
  background-size: cover !important;
  padding: 5.5% 4.5%;
}

/* Media */
.media {
   margin-bottom: 20px;

 .media-heading {
    font-weight: 600;
    font-size: 16px;
  }
}
.media:last-of-type {
   margin-bottom: 0px;
}




/*===================================
   Topbar,Left-sidebar,Right-sidebar
  ===================================*/

.topbar {
  left: 0px;
  position: fixed;
  right: 0;
  top: 0px;
  z-index: 999;
  margin: 0px auto;
  max-width: 1170px;

  .topbar-left {
    float: left;
    position: relative;
    width: 240px;
    z-index: 1;
  }
  .topbar-left-sm {
    width: 180px;
  }
}

.logo {
  color: @white!important;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: .05em;
  line-height: 60px;
  text-transform: uppercase;
  h1 {
    height: 50px;
    margin: 0px auto;
    text-align: center;
  }
  i {
    color: @custom;
  }
  .icon-c-logo {
    display: none;
  }
}

.navbar-default {
  background-color: @dark;
  border-radius: 0px;
  border: none;
  margin-bottom: 0px;
  .navbar-nav > .open > a {
    background-color: rgba(255,255,255,0.1);
    &:focus {
      background-color: rgba(255,255,255,0.1);
    }
    &:hover {
      background-color: rgba(255,255,255,0.1);
    }
  }
  .badge {
    position: absolute;
    top: 12px;
    right: 7px;
  }
}


.nav > li > a {
  color: @white !important;
  line-height: 60px;
  padding: 0px 15px;
  position: relative;
  i {
    font-size: 16px;
  }
}

.profile {
  img {
    border: 2px solid #edf0f0;
    height: 36px;
    width: 36px;
  }
}

.dropdown-menu-lg {
  width: 300px;
  .list-group {
    margin-bottom: 0px;
  }
  .list-group-item {
    border: none;
    padding: 10px 20px;
  }
  .media-heading {
    margin-bottom: 0;
  }
  .media-body {
    p {
      color: #828282;
    }
  }
}

.notification-list {
  max-height: 230px;

  em {
    width: 30px;
    text-align: center;
    height: 30px;
    line-height: 28px;
    border-radius: 50%;
    margin-top: 4px;
  }

  .media-body {
    display: inherit;
    width: auto;
    overflow: hidden;
    margin-left: 50px;

    h5{
      text-overflow: ellipsis;
      white-space: nowrap;
      display: block;
      width: 100%;
      font-weight: normal;
      overflow: hidden;
    }
  }
}
.notifi-title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 11px 20px 15px;
  color: @inverse;
  font-family: @font-secondary;
}

.noti-primary {
  color: @primary;
  border: 2px solid @primary;
}
.noti-success {
  color: @success;
  border: 2px solid @success;
}
.noti-info {
  color: @info;
  border: 2px solid @info;
}
.noti-warning {
  color: @warning;
  border: 2px solid @warning;
}
.noti-danger {
  color: @danger;
  border: 2px solid @danger;
}
.noti-dark {
  color: @dark;
  border: 2px solid @dark;
}
.noti-purple {
  color: @purple;
  border: 2px solid @purple;
}
.noti-pink {
  color: @pink;
  border: 2px solid @pink;
}
.noti-custom {
  color: @custom;
  border: 2px solid @custom;
}
.noti-inverse {
  color: @inverse;
  border: 2px solid @inverse;
}

.navbar-nav {
  margin: 0;
}

.side-menu {
  bottom: 0;
  top: 0;
  width: 240px;
  z-index: 2;
}

.side-menu.left {
  background: @white;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 60px;
}

body.fixed-left {
  .side-menu.left {
    bottom: 50px;
    height: @height;
    margin-bottom: -70px;
    margin-top: 0px;
    padding-bottom: 70px;
    position: fixed;
  }
}

.content-page {
  margin-left: 240px;
  overflow: hidden;
}

.content-page > .content {
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 20px 5px 15px 5px;
}

.button-menu-mobile {
  background: transparent;
  border: none;
  color: fade(@white,70%);
  font-size: 20px;
  line-height: 60px;
  padding: 0 15px;

  &:hover {
    color: @white;
  }
}

.sidebar-inner {
  height: @height;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
  border: 0;
  font-weight: normal;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-decoration: none;
}

#sidebar-menu {
  padding-bottom: 30px;
  padding-top: 30px;
  width: 100%;
  .nav > li > a {

    .badge {
      position: absolute;
      right: 10px;
      top: 12px;
    }
  }

  a {
    line-height: 1.3;
  }
  ul {
    ul {
      display: none;
      li {
        border-top: 0;
      }
      li.active {
        a {
          color: @custom;
        }
      }
      a {
        color: #75798B;
        display: block;
        padding: 10px 20px 10px 65px;
        &:hover {
          color: @custom;
        }
        i {
          margin-right: 5px;
        }
      }
      ul {
        a {
          padding-left: 80px;
        }
      }
    }
  }
  .label {
    margin-top: 2px;
  }
  .subdrop {
    background: @lightdark !important;
    border-left: 3px solid @custom;
    color: @custom !important;
  }
}


#sidebar-menu > ul > li > a {
  color: @dark;
  display: block;
  padding: 12px 20px;
  margin: 4px 0px;
  border-left: 3px solid @white;
  &:hover {
    color: @custom;
    text-decoration: none;
  }
}

#sidebar-menu > ul > li > a > span {
  vertical-align: middle;
}

#sidebar-menu {
  ul {
    li {
      .menu-arrow {
        -webkit-transition: -webkit-transform .15s;
        -o-transition: -o-transform .15s;
        transition: transform .15s;
        position: absolute;
        right: 20px;
        display: inline-block;
        font-family: 'Material Design Iconic Font';
        text-rendering: auto;
        line-height: 18px;
        font-size: 16px;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
        color: @muted;

        &:before {
          content: "\f1b6";
        }
      }
      a.subdrop .menu-arrow {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
      }

      a{
        i{
          display: inline-block;
          font-size: 16px;
          line-height: 17px;
          margin-left: 3px;
          margin-right: 15px;
          text-align: center;
          vertical-align: middle;
          width: 20px;
        }
        i.md {
          font-size: 18px;
        }
      }
    }
  }
}


#sidebar-menu > ul > li > a > i.i-right {
  float: right;
  margin: 3px 0 0 0;
}

#sidebar-menu > ul > li > a.active {
  background: #f4f8fb !important;
  border-left: 3px solid @custom;
  color: @custom !important;
}


.menu-title {
    padding: 12px 20px !important;
    letter-spacing: .035em;
    pointer-events: none;
    cursor: default;
    font-size: 13px;
}


/* Small Menu */
.side-menu-sm {
  width: 180px;
  text-align: center;
  #sidebar-menu>ul>li>a>i {
    display: block;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    margin: 0px;
}
  #sidebar-menu ul ul a {
    padding: 10px 20px 10px 20px;
}
}

#wrapper.enlarged .side-menu-sm {
  text-align: left;
}
#wrapper.enlarged .side-menu-sm #sidebar-menu ul li a i {
    display: inline-block;
    font-size: 18px;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    vertical-align: middle;
    width: 20px;
}

.side-menu-sm + .content-page {
  margin-left: 180px;
}

/* Header 2 */
.page-header-2 {
    background: #E3E7EC;
    border-bottom: 1px solid #dee2e8;
    margin: -25px -20px 22px -20px;
    padding: 25px 20px 0px 20px;
}



#wrapper.enlarged {
  .menu-title ,.menu-arrow{
    display: none !important;
  }
  #sidebar-menu {
    ul {
      ul {
        border: 2px solid #f4f8fb;
        margin-top: -5px;
        padding-top: 5px;
        z-index: 9999;
        background-color: @white;
      }
    }
  }
  .left.side-menu {
    width: 70px;
    z-index: 5;

    #sidebar-menu > ul > li > a {
      padding: 15px 20px;
      &:hover {
        background:#f4f8fb!important;
      }
      &:active {
        background:#f4f8fb!important;
      }
      &:focus {
        background:#f4f8fb!important;
      }

      i {
        margin-right: 20px !important;
        font-size: 20px;
      }
    }
    .label {
        position: absolute;
        top: 5px;
        left: 35px;
        text-indent: 0;
        display: block !important;
        padding: .2em .6em .3em !important;
    }
    #sidebar-menu {
      ul > li {
        position: relative;
        white-space: nowrap;
        &:hover > a {
          position: relative;
          width: 260px;
          background: #f4f8fb;
          color: @custom;
          border-color: @custom;
        }
        &:hover > ul {
          display: block;
          left: 70px;
          position: absolute;
          width: 190px;
          a {
            background: @white;
            box-shadow: none;
            padding-left: 15px;
            position: relative;
            width: 186px;
            z-index: 6;

            &:hover {
              color: @custom;
            }
          }
        }
        &:hover {
          a {
            span {
              display: inline;
            }
          }
        }
      }
      li{
        .show-menu + ul{
            display: block;
            left: 70px;
            position: absolute;
            width: 190px;
            a {
              background: @white;
              box-shadow: none;
              padding-left: 15px;
              position: relative;
              width: 186px;
              z-index: 6;

              &:hover {
                color: @custom;
              }
            }

        }
      }
      a.subdrop {
        color: @custom !important;
      }
      ul > li > ul {
        display: none;
      }
      ul {
        ul {
          li {
            &:hover > ul {
              display: block;
              left: 190px;
              margin-top: -36px;
              position: absolute;
              width: 190px;
            }
          }
          li > a {
            span.pull-right {
              -ms-transform: rotate(270deg);
              -webkit-transform: rotate(270deg);
              position: absolute;
              right: 20px;
              top: 12px;
              transform: rotate(270deg);
            }
          }
          li.active {
            a{
              color: @custom;
            }
          }
        }
      }
      ul > li > a {
        span {
          display: none;
          padding-left: 10px;
        }
      }
    }
    .user-details {
      display: none;
    }
  }
  .content-page {
    margin-left: 70px;
  }
  .topbar {
    .topbar-left {
      width: 70px !important;
      .logo {
        span {
          display: none;
          opacity: 0;
        }
        .icon-c-logo {
          display: block;
          line-height: 60px;
        }
      }
    }

  }
  #sidebar-menu > ul > li {
    &:hover > a.open {
      :after {
        display: none;
      }
    }
    &:hover > a.active {
      :after {
        display: none;
      }
    }
  }

  .tips-box {
    display: none;
  }
}

.tips-box {
  .portlet {
    -webkit-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.05);
    box-shadow: 0px 0px 7px 1px rgba(0,0,0,0.05);
  }
}

.user-details {
  padding: 20px;
  padding-bottom: 0px;
  position: relative;
  img {
    position: relative;
    z-index: 9999;
  }
  .user-info {
    color: @lightdark4;
    margin-left: 60px;
    position: relative;
    z-index: 99999;
    a.dropdown-toggle {
      color: @lightdark7;
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 600;
      padding-top: 5px;
    }
  }
}

#wrapper.right-bar-enabled {
  .right-bar {
    right: 0;
  }
  .left-layout {
    left: 0;
  }
}


/* Right sidebar */
.side-bar.right-bar {
  float: right !important;
  right: -266px;
  top: 60px;
}

.side-bar {
  -moz-transition: all 200ms ease-out;
  -webkit-transition: all 200ms ease-out;
  background-color: @white;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1);
  display: block;
  float: left;
  height: @height;
  overflow-y: auto;
  position: fixed;
  transition: all 200ms ease-out;
  width: 240px;
}

.right-bar {
  background: @white !important;
  z-index: 99 !important;
  h4 {
    border-bottom: 1px solid @light;
    padding-bottom: 10px;
  }
}

.contact-list {
  max-height: 600px;

  .list-group-item {
    border: none;
    &:hover {
      background: @light5;
    }
  }

  i.offline {
    color: @danger !important;
  }

  i.away {
    color: @warning;
  }
}

.contacts-list {
  .avatar {
    display: inline-block;
    float: left;
    margin-right: 5px;
    width: 30px;
    img {
      border-radius: 50%;
      width: @width;
    }
  }
  .list-group-item {
    span.name {
      color: #707780;
      display: inline-block;
      float: left;
      overflow: hidden;
      padding-left: 5px;
      padding-top: 6px;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 130px;
    }
  }

  i {
    color: @lightgray;
    float: right;
    font-size: 9px;
    line-height: 30px;
  }
  i.online {
    color: #a0d269;
  }
  i.offline {
    color: @danger !important;
  }

  i.away {
    color: @warning;
  }
}


.app-search {
  position: relative;
  margin: 15px 0px 15px 10px;
}
.app-search a {
  position: absolute;
  top: 5px;
  right: 20px;
  color: #c4c4cd;
}

.app-search .form-control,
.app-search .form-control:focus {
  border: none;
  font-size: 13px;
  color: @white;
  padding-left: 20px;
  padding-right: 40px;
  background: rgba(255,255,255,0.1);
  box-shadow: none;
  border-radius: 30px;
  height: 30px;
  font-weight: 600;
  width: 180px;
}



/* =============
   Animation
============= */

/* Bounce 1 */
@-webkit-keyframes cd-bounce-1 {
  0% { opacity: 0; -webkit-transform: scale(0.5);}
  60% { opacity: 1; -webkit-transform: scale(1.2); }
  100% { -webkit-transform: scale(1); }
}

@-moz-keyframes cd-bounce-1 {
  0% { opacity: 0; -moz-transform: scale(0.5); }
  60% { opacity: 1; -moz-transform: scale(1.2); }
  100% { -moz-transform: scale(1); }
}


@-o-keyframes cd-bounce-1 {
  0% { opacity: 0; -o-transform: scale(0.5);}
  60% { opacity: 1; -o-transform: scale(1.2); }
  100% { -o-transform: scale(1); }
}

@keyframes cd-bounce-1 {
  0% { opacity: 0; .transform(scale(0.5)); }
  60% { opacity: 1; .transform(scale(1.2)); }
  100% { opacity: 1; .transform(scale(1)); }
}


/* Bounce 2 */
@-webkit-keyframes cd-bounce-2 {
  0% { opacity: 0;  -webkit-transform:translateX(-100px); }
  60% { opacity: 1; -webkit-transform:translateX(20px); }
  100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes cd-bounce-2 {
  0% { opacity: 0; -moz-transform:translateX(-100px); }
  60% { opacity: 1; -moz-transform:translateX(20px); }
  100% { -moz-transform: translateX(0); }
}


@-o-keyframes cd-bounce-2 {
  0% { opacity: 0; -o-transform:translateX(-100px); }
  60% { opacity: 1; -o-transform:translateX(20px); }
  100% { opacity: 1; -o-transform:translateX(0); }
}


@keyframes cd-bounce-2 {
  0% { opacity: 0; .transform(translateX(-100px)); }
  60% { opacity: 1; .transform(translateX(20px)); }
  100% { opacity: 1; .transform(translateX(0)); }
}


/* Dropdown */
@-webkit-keyframes dropdownOpen {
  0% { opacity: 0;  -webkit-transform: scale(0); }
  100% { -webkit-transform: scale(1); }
}

@-moz-keyframes dropdownOpen {
  0% { opacity: 0;  -moz-transform: scale(0); }
  100% { -moz-transform: scale(1); }
}

@-o-keyframes dropdownOpen {
  0% { opacity: 0;  -o-transform: scale(0); }
  100% { -o-transform: scale(1); }
}

@keyframes dropdownOpen {
  0% { opacity: 0; .transform(scale(0)); }
  100% { opacity: 1; .transform(scale(1)); }
}


/* Progressbar Animated */
@-webkit-keyframes animationProgress {
  from {
    width:0;
  }
}
@keyframes animationProgress {
  from {
    width:0;
  }
}

/* Portlets loader */
@-webkit-keyframes loaderAnimate {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(220deg); }
}

@-moz-keyframes loaderAnimate {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(220deg); }
}

@-o-keyframes loaderAnimate {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(220deg); }
}

@keyframes loaderAnimate {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(220deg); }
}
@-webkit-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
  }
}
@-moz-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -moz-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -moz-transform: rotate(140deg);
  }
}
@-o-keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -o-transform: rotate(-140deg);
  }
  50% {
    box-shadow: inset #555 0 0 0 2px;
  }
  100% {
    box-shadow: inset #555 0 0 0 8px;
    -o-transform: rotate(140deg);
  }
}
@keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(-140deg);
    -moz-transform: rotate(-140deg);
    -ms-transform: rotate(-140deg);
    transform: rotate(-140deg);
  }

  50% {
    box-shadow: inset #555 0 0 0 2px;
  }

  100% {
    box-shadow: inset #555 0 0 0 8px;
    -webkit-transform: rotate(140deg);
    -moz-transform: rotate(140deg);
    -ms-transform: rotate(140deg);
    transform: rotate(140deg);
  }
}

@keyframes loaderAnimate2 {
  0% {
    box-shadow: inset #999 0 0 0 17px;
    transform: rotate(-140deg);
  }

  50% {
    box-shadow: inset #999 0 0 0 2px;
  }

  100% {
    box-shadow: inset #999 0 0 0 17px;
    transform: rotate(140deg);
  }
}



/*!
 * Waves v0.6.0
 * http://fian.my.id/Waves
 *
 * Copyright 2014 Alfiana E. Sibuea and other contributors
 * Released under the MIT license
 * https://github.com/fians/Waves/blob/master/LICENSE
 */

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.waves-effect {
    .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top: -10px;
        margin-left: -10px;
        opacity: 0;
        background: rgba(0, 0, 0, 0.2);
        -webkit-transition: all 0.7s ease-out;
        -moz-transition: all 0.7s ease-out;
        -o-transition: all 0.7s ease-out;
        -ms-transition: all 0.7s ease-out;
        transition: all 0.7s ease-out;
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
        pointer-events: none;
    }
}
.waves-effect.waves-light {
    .waves-ripple {
        background-color: rgba(255, 255, 255, 0.45);
    }
}
.waves-effect.waves-red {
    .waves-ripple {
        background-color: rgba(244, 67, 54, 0.7);
    }
}
.waves-effect.waves-yellow {
    .waves-ripple {
        background-color: rgba(255, 235, 59, 0.7);
    }
}
.waves-effect.waves-orange {
    .waves-ripple {
        background-color: rgba(255, 152, 0, 0.7);
    }
}
.waves-effect.waves-purple {
    .waves-ripple {
        background-color: rgba(156, 39, 176, 0.7);
    }
}
.waves-effect.waves-green {
    .waves-ripple {
        background-color: rgba(76, 175, 80, 0.7);
    }
}
.waves-effect.waves-teal {
    .waves-ripple {
        background-color: rgba(0, 150, 136, 0.7);
    }
}
.waves-notransition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}
.waves-circle {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    text-align: center;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: 50%;
    -webkit-mask-image: none;
}
.waves-input-wrapper {
    border-radius: 0.2em;
    vertical-align: bottom;
    .waves-button-input {
        position: relative;
        top: 0;
        left: 0;
        z-index: 1;
    }
}
.waves-block {
    display: block;
}


/* =============
   Print css
============= */

@media print {
  .logo,.breadcrumb,.page-title,.footer {
    display: none;
    margin: 0px;
    padding: 0px;
  }

  .left,.right-bar {
    display: none;
  }
  .content {
    margin-top: 0px;
    padding-top: 0px;
  }
  .content-page {
    margin-left: 0px;
    margin-top: 0px;
  }

}


body.fixed-left-void .content-page {
    min-height: 1250px;
}